.vcolor {
    background-color: black;
}

.hcolor {
    background-color: white;
}

.vfooter {
    background-color: black;
}
.responseg{
    font-size: 50px;
    color:#ffd480;
}
.responseb{
   color: #800000;
   font-size: 50px;
}